*{box-sizing: border-box;}
body {
   margin: 0;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'poppins', sans-serif;
   background: linear-gradient(135deg, #f0f0f0, #d9d9d9);
   color: #333;
}

.card {
    width: 320px;
    padding: 40px 30px;
    background: rgba(255,255,255,0.8);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    text-align: center;
}

card h1 {
    margin-top: 0;
    font-weight: 200;
    margin: 20px 0 5px;
}

